.container{
    margin-inline: 20px;
}

.text-middle{
    align-items: center;
    display: flex;
    justify-content: center;
}

.highlightMark {
    background-color: yellow;
    color: black; 
}

.bold-text{
    font-weight: bold;
}

.card-container{
    margin-bottom: 20px;
    border: 1px solid grey;
    padding: 20px;
    width: 30%;
}